@use "../../variables";

.container {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;

  .title {
    color: map-get(variables.$colors, primary);
  }

  .description {
    color: map-get(variables.$colors, text);
  }

  .button {
    font-weight: 100;
  }
}

.searchForm {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  max-width: 600px;
}
.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}