@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

$colors: (
  primary: #c52920,
  primaryHover: darken(#c52920, 10%),
  secondary: #3e4246,
  text: #2c3e50,
  bg: #f8f9fa,
);
