@use "../../variables";

.tableHeader {
  background-color: map-get(variables.$colors, primary);

  th {
    color: map-get(variables.$colors, bg);
  }
}

.message {
  height: fit-content;
  padding: 16px;
  border-radius: 8px;
  animation: messageBehavior 3s linear 0s;
  transform: scaleY(0);
}

.bgPrimary {
  background-color: map-get(variables.$colors, primary);
  color: map-get(variables.$colors, bg) !important;
}

.positive {
  background-color: rgb(106, 173, 106);
}
.negative {
  background-color: rgb(224, 94, 94);
}

@keyframes messageBehavior {
  0% {
    transform: scaleY(0);
  }
  10% {
    transform: scaleY(1);
  }
  90% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
